body{
    background-color: rgb(63, 63, 63);
    text-align: center;
}
h1{
    color: whitesmoke;
    font-family:monospace;
    
}
canvas{
    margin: 40px;
    border: 1px solid;
}




/*-------------------------header-------------------------*/
div#container div a{
    
    transition: color .2s ease-out;
    color: whitesmoke;
    font: 20px "Roboto Mono", monospace;
}
div#container div{
    padding-top: 10px;
}
div#container div h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}
div#container div h1 span{
    font-weight: 700;
}
#container{
    width:100%;
    height: 60px;
    top: 0px;    
    background-color: #333333;
}
#left{
    float:left;
    width:auto;
    padding-left: 20px;
    margin-top: 8px;
}
#left a:hover{
    transition: color .2s ease-out;
    color: rgba(101, 216, 245, 0.308);
}
#right{
    float:right;
    width:auto;
    padding-right: 20px;
    margin-top: 8px;
}
#center{
    margin:0 auto;
    width:170px;
}
/*---------------------------------------------*/